@model IEnumerable<BerrasCinema.Models.Movies>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatsLeft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieDuration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatsLeft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieDuration)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.MovieID">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
